
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yo, it's pizza time!</h2>

<p>As always, @ViewBag.Name</p>

<p>And now for a ViewData: @ViewData["message"]</p>

